@import "tailwindcss";

@theme {
  --color-primary: #121212;
  --color-secondary: #1e1e1e;
  --color-text-primary: #ffffff;
  --color-text-secondary: #a0a0a0;
  --color-text-accent: #64ffda;
  --color-card-bg: #252525;
}