<section id="about" class="py-20 px-4">
  <h2 class="text-4xl text-center mb-10">Sobre Mí</h2>
  <div class="max-w-2xl mx-auto text-center">
    <p class="text-gray-300 text-wrap text-lg">
      Soy un desarrollador Junior, apasionado por aprender y mejorar mis habilidades en tecnologías como HTML, CSS, JavaScript, y React. Estoy en busca de oportunidades para aplicar mis conocimientos y crecer profesionalmente en el campo del desarrollo web.
    </p>
    <div class="flex flex-wrap gap-4 justify-center mt-8">
      <span class="bg-card-bg px-4 py-2 rounded-full text-sm">HTML</span>
      <span class="bg-card-bg px-4 py-2 rounded-full text-sm">CSS</span>
      <span class="bg-card-bg px-4 py-2 rounded-full text-sm">JavaScript</span>
      <span class="bg-card-bg px-4 py-2 rounded-full text-sm">React</span>
      <span class="bg-card-bg px-4 py-2 rounded-full text-sm">Laravel</span>
    </div>
  </div>
</section>
