<header class="fixed top-0 w-full backdrop-blur-lg py-4 z-50">
  <nav>
    <ul class="flex justify-center gap-8"  >
      <li><a href="#home" class="text-white hover:text-accent transition-colors">Inicio</a></li>
      <li><a href="#about" class="text-white hover:text-accent transition-colors">Sobre Mí</a></li>
      <li><a href="#project" class="text-white hover:text-accent transition-colors">Proyectos</a></li>
      <li><a href="#contact" class="text-white hover:text-accent transition-colors">Contacto</a></li>
    </ul>
  </nav>
</header>